<!-- Zone de vue pour une liste de produits -->
<div id="produits" data-ng-controller="produitsCtrl as pctrl">
    <table>
        <tr>
            <th>Image</th>
            <th>Description</th>
            <th>prix</th>
        </tr>

        <tr ng-repeat="produit in pctrl.listeProduits">
            <td>
                <img ng-src="{{produit.img}}" />
            </td>
            <td style="text-align:center">
                <div style="text-align:center">{{produit.nom}}</div>
                {{produit.description}}
            </td>
            <th class="produits-produit-prix">{{produit.prix | reduction :produit.reduc | currencyPerso :'€':2 }}</th>
            <th>
                <a href="#/produit/{{produit.id}}" ng-if="produit.stock &gt; 0">
                    <div class="btn btn-info">Voir</div>
                </a>
            </th>
        </tr>
    </table>


</div>