<div class="produit">
    <!-- Zone de vue pour un produit unique -->
    <h2>Titre du produit</h2>
    <table>
        <tr>
            <th> <img src="img/produit/1dx/1dx.jpg" alt="face" /></th>
            <td><u>Description :</u> Dolore quis duis eiusmod adipisicing pariatur velit quis excepteur eu magna do incididunt. <br/><br/>Prix : <span class="produit-prix">17&euro;95</span></td>
            <th>
                <button type="button" class="btn btn-success">Ajouter au panier</button>
            </th>
        </tr>
    </table>
    <hr/>
    <u>commentaires sur le produit :</u>
    <div class="panel panel-default">
        <div class="panel-heading"><i>par :</i>Alexandre</div>
        <div class="panel-body">Consequat ut veniam amet aute cupidatat sit.</div>
    </div>

</div>
<!-- fin Zone de vue pour un produit unique -->