body {
    color: black;
    background-color: rgba(95, 159, 160, 0.363);
}

#produits img {
    max-height: 150px;
    max-width: 150px;
    size: auto;
}

table {
    width: 100%;
    border: none;
}

th {
    text-align: center;
    color: darkslategray
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.produits-produit-titre {
    font-size: 28pt;
    font-weight: 700;
}